@{
    ViewBag.Title = "menu2";
}

<style>
    div.w3-col {
        display: flex;
        padding: 25px;
        text-align: center;
    }

    img {
        width: 180px;
        height: 200px
    }

    a.option {
        border: 1px hidden gray;
        /*border-style: groove;*/
        margin: 20px;
        transition: transform .2s;
        /*background-color: lightgrey;*/
    }

    a:hover {
        transform: scale(1.3);
    }
</style>
<body>
    <marquee behavior="scroll" direction="left">
        Admissions for session 2021-2025 now open. || 
        Institution will observe holiday on SATURDAY i.e. 19th November,2021 due to Guru Nanak Jayanti. ||
        Results of semester I, III, V and VII for mid term examination are out now. ||
    </marquee>


    <div class="w3-col l3 s6">
        <a class="option" href="~/reg/Index">
            <div class="w3-container">
                <img src="https://cdn0.iconfinder.com/data/icons/miscellaneous-1-2/128/join_membership_ad_member_become-512.png">
                <p><b>REGISTER</b></p>
            </div>
        </a>
        <a class="option" href="~/Branch/Branches">
            <div class="w3-container">
                <img src="https://cdn-icons-png.flaticon.com/512/1642/1642357.png">
                <p><b>BRANCH LIST</b></p>
            </div>
        </a>
        <a class="option" href="~/results/Index">
            <div class="w3-container">
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946058.png">
                <p><b>RESULTS</b></p>
            </div>
        </a>
        <a class="option" href="~/Placement/Companies">
            <div class="w3-container">
                <img src="https://miro.medium.com/max/960/0*H5b3TYySaiSIO3Xn.png">
                <p><b>PLACEMENT</b></p>
            </div>
        </a>
        <a class="option" href="~/HomePage2/regplace">
            <div class="w3-container">
                <img src="https://static.thenounproject.com/png/25603-200.png">
                <p><b>REGISTER FOR PLACEMENT</b></p>
            </div>
        </a>
    </div>
</body>






















