
@{
    ViewBag.Title = "regplace";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h2>Register for placement</h2>

<p>Elligibility criteria:</p>
@*TABLE for elligibilit*@

<table style="width:100%">
    <tr>
        <th> </th>
        <th>KPMG</th>
        <th>WIPRO</th>
        <th>PAYTM</th>
        <th>APPLE</th>
        <th>GOOGLE</th>
        <th>L&T</th>
        <th>INFOSYS</th>
        <th>ACCENTURE</th>
        <th>DELL</th>
    </tr>
    <tr>
        <td><strong>Elligible Branches</strong></td>
        <td>CS, IS, EC, EE</td>
        <td>ALL</td>
        <td>CS, IS, EC, EE</td>
        <td>CS, IS</td>
        <td>CS, IS</td>
        <td>ALL</td>
        <td>ALL</td>
        <td>ALL</td>
        <td>CS, IS, EC, EE</td>
    </tr>
    <tr>
        <td><strong>10th Percentage Requirement</strong></td>
        <td>75%</td>
        <td>60%</td>
        <td>70%</td>
        <td>85%</td>
        <td>85%</td>
        <td>60%</td>
        <td>60%</td>
        <td>70%</td>
        <td>80%</td>
    </tr>
    <tr>
        <td><strong>12th Percentage Requirement</strong></td>
        <td>75%</td>
        <td>60%</td>
        <td>70%</td>
        <td>85%</td>
        <td>85%</td>
        <td>60%</td>
        <td>60%</td>
        <td>70%</td>
        <td>80%</td>
    </tr>
    <tr>
        <td><strong>Other Requirement</strong></td>
        <td>No Education Gap</td>
        <td></td>
        <td></td>
        <td>No Education Gap</td>
        <td>No Education Gap</td>
        <td></td>
        <td></td>
        <td>No Education Gap</td>
        <td></td>
    </tr>
</table>

<a href="https://forms.office.com/r/zntSBbkg1V"><h3>Click Here To Register</h3> </a>

@Html.ActionLink("BACK TO MENU", "menu2", "HomePage2")


