@{
    ViewBag.Title = "AboutUs";
}
<style>
    div.row {
        display: flex;
    }

    div.w3-row {
        display: flex;
    }

    div.w3-col {
        margin: 20px;
    }

    div.box {
        background-color: aliceblue;
    }

    img {
        width: 300px;
        height: 400px;
    }
</style>

<h2>About DIT</h2>



<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row" id="about">
        <div class="w3-col ">
            <img src="https://static01.nyt.com/images/2020/03/14/upshot/14up-colleges-remote/14up-colleges-remote-mediumSquareAt3X.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting">
        </div>

        <div class="w3-col">
            
            <h5 class="w3-center">Educating since 1962</h5>
            <p>
                Deepti Institute of Technology (RIT), formerly known as M.S. Deepti Institute of Technology (MSSIT),
                is an autonomous private engineering college located in Bangalore in the Indian state of Karnataka.
                Established in 1962, the college is affiliated to Visvesvaraya Technological University.
            </p>
            <p>
                SIT was founded, in 1962, by the late M. S. Deepti, who was an educationist, philanthropist,
                and infrastructure visionary.SIT is a part of Gokula Education Foundation (GEF) which owns and
                manages several educational institutions across various streams. The foundation also runs a Multi
                Speciality Hospital. RIT was the first institute started by the Gokula Education Foundation.

                MSSIT is separate from M S Deepti University of Applied Sciences which is a new private university
                founded by the same management.
            </p>
        </div>
    </div>

    <hr>

    <div class="w3-row " id="menu">
        <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Our Mission</h1><br>
            <p>
                Deepti Institute of Technology shall meet the global socio-economic needs through <br />
                1. Imparting quality technical education by nurturing a conducive learning environment through continuous improvement and customization. <br />
                2. Establishing research clusters in emerging areas in collaboration with globally reputed organizations. <br />
                3. Establishing innovative skills development, techno-entrepreneurial activities and consultancy for socio-economic needs.
            </p>
        </div>

        <div class="w3-col ">
            <img src="https://www.sierranevada.edu/wp-content/uploads/Students-at-computers-879041304-420-420x315.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu">
        </div>
    </div>
</div>
@Html.ActionLink("BACK TO MENU","menu","HomePage1")
