
@{
    ViewBag.Title = "calendar";
}

<style>
    embed {
        width: 800px;
        height: 1000px;
        align-content: center;
    }

    button {
        display: block;
    }
</style>
<h2>CALENDAR </h2>

<embed src="https://printablethecalendar.com/wp-content/uploads/2021/02/2021-Yearly-Calendar-India.pdf" />

<button type="submit" onclick="window.open('https://printablethecalendar.com/wp-content/uploads/2021/02/2021-Yearly-Calendar-India.pdf')">Download!</button>
@Html.ActionLink("BACK TO MENU", "menu", "HomePage1")